<%= maglev_section.wrapper_tag.div class: 'text-white bg-gray-900' do %>
  <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="max-w-xl">
      <%= maglev_section.setting_tag :title, html_tag: 'h2', class: 'text-3xl font-bold sm:text-4xl' %>
      
      <%= maglev_section.setting_tag :body, html_tag: 'p', class: 'mt-4 text-gray-300' %>
    </div>

    <div
      class="grid grid-cols-1 gap-8 mt-8 md:gap-12 md:mt-16 md:grid-cols-2 lg:grid-cols-3"
    >
      <% maglev_section.blocks.each do |maglev_block| %>
        <%= maglev_block.wrapper_tag.div class: 'flex items-start' do %>
          <span class="flex-shrink-0 h-12 w-12 flex items-center justify-center bg-gray-800 rounded-lg">
            <%= maglev_block.setting_tag :icon, class: 'text-xl' %>
          </span>

          <div class="ml-4">
            <%= maglev_block.setting_tag :name, html_tag: 'h3', class: 'text-lg font-bold' %>
            
            <%= maglev_block.setting_tag :description, html_tag: 'p', class: 'mt-1 text-sm text-gray-300' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
