<%= maglev_section.wrapper_tag.section do %>
  <div class="max-w-screen-xl px-4 py-16 mx-auto sm:px-6 lg:px-8">
    <div
      class="sm:gap-6 lg:gap-8 sm:columns-2 lg:columns-3 [column-fill:_balance]"
    >
      <% maglev_section.blocks.each do |maglev_block| %>
        <%= maglev_block.wrapper_tag.div class: 'mb-8 sm:break-inside-avoid' do %>
          <blockquote class="p-6 shadow bg-gray-50 rounded-xl">
            <%= maglev_block.setting_tag :quote, html_tag: 'p', class: 'leading-relaxed text-gray-700' %>
          </blockquote>

          <div class="flex items-center gap-4 mt-4">
            <%= maglev_block.setting_tag :picture, class: 'object-cover w-12 h-12 rounded-full' %>

            <div class="text-sm">
              <%= maglev_block.setting_tag :fullname, html_tag: 'p', class: 'font-medium' %>
              <%= maglev_block.setting_tag :position, html_tag: 'p', class: 'mt-1' %>              
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
