<%= maglev_section.wrapper_tag.header class: 'border-b border-gray-100' do %> 
  <div
    class="flex items-center justify-between h-16 mx-auto max-w-screen-2xl sm:px-6 lg:px-8"
  >
    <div class="flex items-center">
      <button type="button" class="p-2 sm:mr-4 lg:hidden">
        <svg
          class="w-6 h-6"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"
          />
        </svg>
      </button>

      <a href="/" class="flex">
        <%= maglev_section.setting_tag :logo, class: 'max-h-10' %>
      </a>
    </div>

    <div class="flex items-center justify-end flex-1">
      <nav
        class="hidden lg:uppercase lg:text-gray-500 lg:tracking-wide lg:font-bold lg:text-xs lg:gap-4 lg:flex"
      >
        <% maglev_section.blocks.each do |maglev_block| %>
          <% next if maglev_block.type != 'link_group' %>
          <% maglev_block.children.each do |nested_maglev_block| %>
            <%= nested_maglev_block.wrapper_tag.span do %>
              <%= nested_maglev_block.setting_tag :link, class: 'block h-16 leading-[4rem] border-b-4 border-transparent hover:text-red-700 hover:border-current' %>
            <% end %>
          <% end %>
        <% end %>
      </nav>

      <div class="flex items-center ml-8">
        <div
          class="flex items-center border-gray-100 divide-x divide-gray-100 border-x"
        >
          <% maglev_section.blocks.each do |maglev_block| %>
            <% next if maglev_block.type != 'button_group' %>
            <% maglev_block.children.each do |nested_maglev_block| %>
              <%= nested_maglev_block.wrapper_tag.span do %>
                <a
                  href="<%= nested_maglev_block.settings.button.href %>"
                  <% if nested_maglev_block.settings.button.open_new_window? %>target="_blank"<% end %>
                  class="flex items-center h-16 px-6 border-b-4 border-transparent hover:border-red-700"
                >
                  <%= nested_maglev_block.setting_tag :icon %>
                  <span class="sr-only"><%= nested_maglev_block.settings.button.text %></span>
                </a>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
