<%= maglev_section.wrapper_tag.aside class: "overflow-hidden bg-[url(#{maglev_section.settings.background_image.url})] bg-center bg-no-repeat bg-cover" do %>
  <div class="bg-black/25">
    <div class="mx-auto max-w-screen-xl ">
      <div class="p-8 md:p-12 lg:px-16 lg:py-24">
        <div class="max-w-lg text-center sm:text-left">
          <%= maglev_section.setting_tag :title, html_tag: 'h2', class: 'text-2xl font-bold text-white sm:text-3xl md:text-5xl' %>
          
          <%= maglev_section.setting_tag :body, html_tag: 'p', class: 'hidden max-w-md text-white/90 md:mt-6 md:text-lg md:leading-relaxed md:block' %>

          <div class="mt-4 sm:mt-8">
            <a
              href="<%= section.settings.button.href %>"
              class="inline-flex items-center px-8 py-3 text-white transition bg-indigo-700 rounded-full shadow-lg focus:outline-none focus:ring hover:bg-indigo-600"
              <% if section.settings.button.open_new_window? %>target="_blank"<% end %>
            >
              <span class="text-sm font-medium"><%= section.settings.button.text %></span>

              <svg
                class="w-5 h-5 ml-3"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M17 8l4 4m0 0l-4 4m4-4H3"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
